body {
  font-family: "Arial", sans-serif;
  background-color: #e6e3e3;
  color: #333;
  margin: 20px;
}
.titulo {
  display: flex;
  justify-content: space-evenly;
  background-color: #fdfdfd;
}
.imagen {
  margin top: 4px;
  margin left: 4px;
  width: 81em;
  height: 20em;
  background-color:#8ed1fc;
  display: flex;    
  justify-content: space-evenly;
  flex-direction:row-reverse;
}
nav {
  margin-top: 30px;

}

span{
  border-style: none;
  border-radius: 8px;
  
}

.parrafo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    width: 30em;
    background-color: 
}

.picture{
    background-color: 
    display: flex;
    justify-content: center;
    padding: 60px 0px 20px 0px;
    border radius: 15px;
    
    
    
}


.segundo {
    margin top: 4px;
    margin left: 4px;
    width: 81em;
    height: 20em;
    background-color:#fdfdfd;
    display: flex;    
    justify-content: space-evenly;
    flex-direction:row-reverse;
  }


  .imagen2 {
    margin top: 4px;
    margin left: 4px;
    width: 81em;
    height: 20em;
    background-color:#4d82bc;
    display: flex;    
    justify-content: space-evenly;
    flex-direction:row;
  }
  
  footer{
    background-color: #005187;
    width: 81em;
    height: 8em;
}

  img {
   width: 100%;
    height: 100%;
    border-radius: 11px;
   }
   
.redes{
display: flex;
justify-content: center;
width: auto;
color: #fdfdfd;

}

.aplicaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a:visited{
  color: green;
}
a:hover{
  background-color: #a9d3ff;
}